@color-tribal-primary: #ef5a35;
@color-tribal-secondary: #747678;

@button-primary__background: @color-tribal-primary;
@button-primary__hover__background: @color-tribal-primary;
@button-primary__border: 1px solid @color-tribal-primary;
@button-primary__hover__border: 1px solid @color-tribal-primary;

@button-secondary__background: @color-tribal-secondary;
@button-secondary__hover__background: @color-tribal-secondary;
@button-secondary__border: 1px solid @color-tribal-secondary;
@button-secondary__hover__border: 1px solid @color-tribal-secondary;
